# WordPress
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backups/
wp-content/ai1wm-backups/
wp-config.php
*.log
*.sql
*.tar
*.zip
*.gz
vendor/
node_modules/
.DS_Store
Thumbs.db
